*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f4
}

input, button, textarea {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius:8px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  max-height: 100vh;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.content {
  width: 45%;
  padding: 20px;
  height: 500px;
  overflow: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 32px rgba(151, 151, 151, 0.25);
}

.form__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.user-input {
  border: 1px solid grey;
  width: 45%;
  height: 30px;
  padding: 0 8px;
}
.btn-submit {
  width: 45%;
  padding: 8px;
  height: 30px;
  background-color: rgb(173, 211, 248);
}

.label {
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1.5px solid lightgrey;
}

.message {
  margin-top: 30px;
  color: blue;
}
.user-actions-btns {
  display: flex;
  gap: 10px;
  /* margin-bottom: 10px; */
}
.action {
  background-color:rgb(194, 245, 224);
}

.action-delete {
  background-color:rgb(255, 177, 177);
}

.label-tiny {
  margin: 8px 0;
  font-size: 14px;
}
.note-inputs {
  display: flex;
  gap: 10px;
}
.note-text {
  font: inherit;
  width: 45%;
  resize: none;
  font-size: 14px;
  border: 1px solid grey;
  padding: 8px;
}